.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  padding: 0 3.646vw;

  .logo {
    position: relative;

    img {
      position: absolute;
    }
  }
}
